@model webstats.Models.ScoreDetailsViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.score.UserID)
        </dt>

        <dd>
            @{
                foreach (var user in Model.users)
                {
                    if (user.Id.Equals(Model.score.UserID))
                    {
                        @Html.DisplayFor(model => user.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    }
                }
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.score.GameID)
        </dt>

        <dd>
            @{
                foreach (var game in Model.games)
                {
                    if (game.GameID.Equals(Model.score.GameID))
                    {
                        @Html.DisplayFor(model => game.name, new { htmlAttributes = new { @class = "form-control" } })
                    }
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.score.ScoreDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.score.ScoreDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.score.score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.score.score)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
